<a href="https://colab.research.google.com/github/subhajitmajumder/python_program/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

### Creating series objects

In [ ]:
s = pd.Series([0, 1, 1, 2, 3, 5, 8])

In [ ]:
print(s) #Left column contains index

0    0
1    1
2    1
3    2
4    3
5    5
6    8
dtype: int64

In [ ]:
s = pd.Series([0.0, 1, 1, 2, 3, 5, 8])

In [ ]:
print(s) #If 1 value of the list is a floating point then all numbers are floting points

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
5    5.0
6    8.0
dtype: float64

In [ ]:
s.values #SHowing all the values

array([0., 1., 1., 2., 3., 5., 8.])

In [ ]:
s.index #Showing all the index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
# using all the values iteratively
for i in s.values:
    print(i)

0.0
1.0
1.0
2.0
3.0
5.0
8.0

In [ ]:
# Using all the index iteratively
for i in s.index:
    print(i)

0
1
2
3
4
5
6

In [ ]:
#We can use zip function to show both
for item in zip(s.index, s.values):
    print(item)

(0, 0.0)
(1, 1.0)
(2, 1.0)
(3, 2.0)
(4, 3.0)
(5, 5.0)
(6, 8.0)

In [ ]:
# We can access values through index
s[0]

0.0

In [ ]:
s[6]

8.0

In [ ]:
mars = pd.Series([0.33, 57.9, 4222.6], index=['mass', 'diameter', 'daylength'])

In [ ]:
print(mars)

mass            0.33
diameter       57.90
daylength    4222.60
dtype: float64

In [ ]:
mars['mass']

0.33

In [ ]:
arr = np.random.randint(0, 10, 10)

In [ ]:
arr

array([4, 5, 6, 6, 2, 5, 0, 0, 1, 9])

In [ ]:
rand_series = pd.Series(arr)
rand_series 
# Automatic indexing of all numbers

0    4
1    5
2    6
3    6
4    2
5    5
6    0
7    0
8    1
9    9
dtype: int64

In [ ]:
# Index can be specified by the user
ind = np.arange(10, 20)
rand_series = pd.Series(arr, index=ind)
rand_series

10    4
11    5
12    6
13    6
14    2
15    5
16    0
17    0
18    1
19    9
dtype: int64

In [ ]:
# Series from Dictionary

d = {}
d['mass'] = 0.33
d['diameter'] = 57.9
d['dayLength'] = 4222.6

print(d)

{'mass': 0.33, 'diameter': 57.9, 'dayLength': 4222.6}

In [ ]:
mars = pd.Series(d)

In [ ]:
print(mars)

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

# iloc and loc

In [ ]:
s = pd.Series([0.0, 1, 1, 2, 3, 5, 8], index=[1, 2, 3, 4, 5, 6, 7])

In [ ]:
s

1    0.0
2    1.0
3    1.0
4    2.0
5    3.0
6    5.0
7    8.0
dtype: float64

In [ ]:
# loc actually returns value for the user given index.
s.loc[4]

2.0

In [ ]:
# iloc returns value for the implicit location or that particular location set by machine
s.iloc[4]

3.0

In [ ]:
s.iloc[0]

0.0

In [ ]:
s.loc[0] # As there is no user index 0 so this error occured

KeyError: ignored

In [ ]:
mars.loc['mass']

0.33

In [ ]:
mars.iloc[0] #First element

0.33

In [ ]:
mars.iloc[-1]  # last element

4222.6

In [ ]:
mars.iloc[0:2] #first two elements excluding last element

mass         0.33
diameter    57.90
dtype: float64

In [ ]:
mars.loc['mass':'diameter']

mass         0.33
diameter    57.90
dtype: float64

# Simple operations

In [ ]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.146],
                 index = ['Murcury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Urenus', 'Neptune', 'Pluto'])

In [ ]:
mass

Murcury       0.330
Venus         4.870
Earth         5.970
Mars          0.642
Jupiter    1898.000
Saturn      568.000
Urenus       86.800
Neptune     102.000
Pluto         0.146
dtype: float64

In [ ]:
mass.iloc[1]

4.87

In [ ]:
mass['Earth': 'Jupiter']

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [ ]:
mass.iloc[2:5]

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [ ]:
# Returns those planets whose mass are greater than 100
mass > 100 # By this syntax we only get boolean values

Murcury    False
Venus      False
Earth      False
Mars       False
Jupiter     True
Saturn      True
Urenus     False
Neptune     True
Pluto      False
dtype: bool

In [ ]:
mass[mass > 100]  # By this syntax we get actual values with index

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [ ]:
mass[(mass > 100) & (mass < 600)] #We can also use and

Saturn     568.0
Neptune    102.0
dtype: float64

In [ ]:
# We can use this as numpy operations

mass * 2

Murcury       0.660
Venus         9.740
Earth        11.940
Mars          1.284
Jupiter    3796.000
Saturn     1136.000
Urenus      173.600
Neptune     204.000
Pluto         0.292
dtype: float64

In [ ]:
mass / 10

Murcury      0.0330
Venus        0.4870
Earth        0.5970
Mars         0.0642
Jupiter    189.8000
Saturn      56.8000
Urenus       8.6800
Neptune     10.2000
Pluto        0.0146
dtype: float64

In [ ]:
np.mean(mass)

296.3064444444445

In [ ]:
np.amin(mass)

0.146

In [ ]:
np.amax(mass)

1898.0

In [ ]:
np.median(mass)

5.97

In [ ]:
mass + mass

Murcury       0.660
Venus         9.740
Earth        11.940
Mars          1.284
Jupiter    3796.000
Saturn     1136.000
Urenus      173.600
Neptune     204.000
Pluto         0.292
dtype: float64

In [ ]:
big_mass = mass[mass > 100]

In [ ]:
new_mass = mass + big_mass
new_mass

Earth         NaN
Jupiter    3796.0
Mars          NaN
Murcury       NaN
Neptune     204.0
Pluto         NaN
Saturn     1136.0
Urenus        NaN
Venus         NaN
dtype: float64

In [ ]:
pd.isnull(new_mass) #It tells if the NaN is true or false

Earth       True
Jupiter    False
Mars        True
Murcury     True
Neptune    False
Pluto       True
Saturn     False
Urenus      True
Venus       True
dtype: bool

In [ ]:
new_mass[~pd.isnull(new_mass)] # It will show all the false values

Jupiter    3796.0
Neptune     204.0
Saturn     1136.0
dtype: float64

In [ ]:
mass

Murcury       0.330
Venus         4.870
Earth         5.970
Mars          0.642
Jupiter    1898.000
Saturn      568.000
Urenus       86.800
Neptune     102.000
Pluto         0.146
dtype: float64

In [ ]:
mass['Moon'] = 0.7346 #Add a new value

In [ ]:
mass

Murcury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Urenus       86.8000
Neptune     102.0000
Pluto         0.1460
Moon          0.7346
dtype: float64

In [ ]:
mass.drop(['Pluto'])  # Can drop a row

Murcury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Urenus       86.8000
Neptune     102.0000
Moon          0.7346
dtype: float64

Collect numbers for the diameters of these planets and store it as a Series object.Then given these two Series objects mass and diameter, compute density of each planet.

In [ ]:
mass['Pluto'] = 0.1460

In [ ]:
diameter = pd.Series([4878, 12104, 12756, 6794, 142984, 120536, 51118, 49532, 2370],
                     index = ['Murcury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Urenus', 'Neptune', 'Pluto'])

In [ ]:
diameter['Moon'] = 3474.2

In [ ]:
radius_planet = diameter / 2
radius_planet

Murcury     2439.0
Venus       6052.0
Earth       6378.0
Mars        3397.0
Jupiter    71492.0
Saturn     60268.0
Urenus     25559.0
Neptune    24766.0
Pluto       1185.0
Moon        1737.1
dtype: float64

In [ ]:
radius_cube = radius_planet * radius_planet * radius_planet

In [ ]:
volume = 4/3 * np.pi * radius_cube
volume

Murcury    6.077487e+10
Venus      9.285074e+11
Earth      1.086781e+12
Mars       1.642008e+11
Jupiter    1.530597e+15
Saturn     9.169570e+14
Urenus     6.993912e+13
Neptune    6.362916e+13
Pluto      6.970175e+09
Moon       2.195650e+10
dtype: float64

In [ ]:
mass

Murcury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Urenus       86.8000
Neptune     102.0000
Pluto         0.1460
Moon          0.7346
dtype: float64

In [ ]:
mass['planetX'] = 100.0101

In [ ]:
mass

Murcury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Urenus       86.8000
Neptune     102.0000
Pluto         0.1460
Moon          0.7346
planetX     100.0101
dtype: float64

In [ ]:
planet_density = mass/volume

In [ ]:
planet_density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.909847e-12
Moon       3.345707e-11
Murcury    5.429876e-12
Neptune    1.603039e-12
Pluto      2.094639e-11
Saturn     6.194402e-13
Urenus     1.241079e-12
Venus      5.244977e-12
planetX             NaN
dtype: float64

In [ ]:
density = mass / (np.pi * np.power(diameter, 3) / 6)
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.909847e-12
Moon       3.345707e-11
Murcury    5.429876e-12
Neptune    1.603039e-12
Pluto      2.094639e-11
Saturn     6.194402e-13
Urenus     1.241079e-12
Venus      5.244977e-12
planetX             NaN
dtype: float64

**Task 2**

Given this density series, replace all values which NaNs with the mean density of all planets

In [ ]:
density_mean = np.mean(density)

In [ ]:
#normal way
for value in density.index:
    if pd.isnull(density[value]):
        density[value] = density_mean

In [ ]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.909847e-12
Moon       3.345707e-11
Murcury    5.429876e-12
Neptune    1.603039e-12
Pluto      2.094639e-11
Saturn     6.194402e-13
Urenus     1.241079e-12
Venus      5.244977e-12
planetX    7.918504e-12
dtype: float64

In [ ]:
#numpy and pandas way
density[pd.isnull(density)] = np.mean(density)

In [ ]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.909847e-12
Moon       3.345707e-11
Murcury    5.429876e-12
Neptune    1.603039e-12
Pluto      2.094639e-11
Saturn     6.194402e-13
Urenus     1.241079e-12
Venus      5.244977e-12
planetX    7.918504e-12
dtype: float64

**Task 3**
- checking if some key is present
- summing values
- compute std

In [ ]:
my_dict = {}
N = 1000000
for i in range(N):
    my_dict[i] = i

In [ ]:
my_series = pd.Series(my_dict)

In [ ]:
N = 10000
arr = np.random.randint(0, N, N)

In [ ]:
%%timeit
for i in arr:
    i in my_dict

100 loops, best of 3: 4.54 ms per loop

In [ ]:
%%timeit
for i in arr:
    i in my_series

100 loops, best of 3: 11.8 ms per loop

In [ ]:
%%timeit
sum(my_dict.values())

100 loops, best of 3: 7.57 ms per loop

In [ ]:
%%timeit
np.sum(my_series)

The slowest run took 6.27 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 708 s per loop

In [ ]:
%%timeit
np.std(my_series)

NameError: ignored

# Nifty case study

In [ ]:
nifty = pd.read_csv('nifty.csv', index_col=0).iloc[:, 0]

In [ ]:
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [ ]:
nifty.head(25)

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
Name: Close, dtype: float64

In [ ]:
nifty.tail(25)

Date
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, dtype: float64

In [ ]:
np.mean(nifty)

11432.632244897959

In [ ]:
np.std(nifty)

453.2866947459807

In [ ]:
np.median(nifty)

11512.4

What fraction of dates did the market close higher than the previous days?

In [ ]:
nifty[1:]

Date
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 244, dtype: float64

In [ ]:
nifty[:-1]

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
Name: Close, Length: 244, dtype: float64

In [ ]:
nifty[1:] - nifty[:-1] #We cant make operation like this as all the values are not aligned properly

Date
01-Apr-2019    0.0
01-Aug-2019    0.0
01-Feb-2019    0.0
01-Jan-2019    NaN
01-Jul-2019    0.0
              ...
31-Dec-2019    NaN
31-Jan-2019    0.0
31-Jul-2019    0.0
31-May-2019    0.0
31-Oct-2019    0.0
Name: Close, Length: 245, dtype: float64

In [ ]:
#This is one way to perform this operation
nifty.values[1:] - nifty.values[:-1]

array([-1.1760e+02, -1.2025e+02,  5.5100e+01,  4.4450e+01,  3.0350e+01,
        5.3000e+01, -3.3550e+01, -2.6650e+01, -5.7350e+01,  1.4920e+02,
        3.5000e+00,  1.4900e+01,  1.7500e+00,  5.4900e+01, -3.9100e+01,
       -9.1250e+01,  1.8300e+01, -6.9250e+01, -1.1900e+02, -9.3500e+00,
       -4.0000e-01,  1.7915e+02,  6.2700e+01,  1.8600e+01,  2.2100e+01,
        1.2810e+02,  6.9500e+00, -1.2580e+02, -5.4800e+01, -5.7400e+01,
       -3.7750e+01, -4.7600e+01, -2.1650e+01, -8.3450e+01, -3.6600e+01,
        1.3110e+02,  5.4400e+01,  1.8000e+00,  8.8450e+01, -4.4800e+01,
       -2.8650e+01, -1.4150e+01,  7.1000e+01,  1.2395e+02,  6.5550e+01,
        5.2000e+00, -2.2800e+01,  1.3265e+02,  1.3315e+02,  4.0500e+01,
        1.5500e+00,  8.3600e+01,  3.5350e+01,  7.0200e+01, -1.1350e+01,
       -6.4150e+01, -1.0265e+02,  1.2900e+02, -3.8200e+01,  1.2495e+02,
        5.3900e+01,  4.5250e+01,  4.4050e+01, -6.9250e+01, -4.5950e+01,
        6.7950e+01, -6.1450e+01,  6.7450e+01, -8.7650e+01,  1.2400e+01,
        4.6750e+01,  4.6900e+01,  9.6800e+01, -3.4350e+01, -1.5835e+02,
       -1.8500e+01,  1.5020e+02, -8.4350e+01,  1.1285e+02, -6.5000e+00,
       -2.3400e+01, -1.2500e+01, -1.1400e+02, -1.0035e+02, -1.3845e+02,
       -5.7650e+01, -2.2900e+01, -1.3070e+02,  7.3850e+01, -6.5050e+01,
        1.0010e+02,  1.5005e+02,  4.2110e+02, -1.1915e+02,  2.8800e+01,
       -8.0850e+01,  1.8705e+02,  8.0650e+01,  4.0000e+00, -6.7650e+01,
        8.4800e+01, -2.3100e+01,  1.6575e+02, -6.6900e+01, -1.7790e+02,
        2.6900e+01,  5.2050e+01,  4.2900e+01, -5.9400e+01,  7.8500e+00,
       -9.0750e+01, -1.5115e+02,  1.9350e+01, -5.0000e-02,  1.4030e+02,
       -1.0765e+02, -2.4450e+01,  9.6800e+01,  5.1100e+01, -6.0000e+00,
       -5.2700e+01,  7.6750e+01,  4.4700e+01,  6.4500e+00,  3.0000e+01,
       -1.3560e+02, -2.5255e+02, -2.7000e+00, -5.7000e+01,  8.4000e+01,
       -3.0400e+01,  3.5850e+01,  7.4250e+01,  2.4900e+01, -9.0600e+01,
       -1.7765e+02, -7.3050e+01, -1.5150e+01, -5.9750e+01, -1.9150e+01,
        3.2150e+01, -9.5100e+01, -1.0380e+02,  3.2600e+01, -1.3800e+02,
        1.7350e+01, -1.3475e+02,  8.5650e+01, -9.2750e+01,  1.7695e+02,
        7.7200e+01, -1.8380e+02,  1.0355e+02,  1.8400e+01,  6.1000e+00,
       -3.6900e+01, -9.8300e+01, -1.7735e+02,  8.8000e+01,  2.2850e+02,
        4.7500e+01, -5.9250e+01, -9.7800e+01,  7.4950e+01, -2.2535e+02,
        4.6750e+01,  3.2500e+00,  9.8300e+01,  5.6850e+01,  3.2650e+01,
       -5.2900e+01,  9.3100e+01, -7.2400e+01, -1.8590e+02,  2.3050e+01,
       -1.3585e+02,  5.6940e+02,  3.2600e+02, -1.2000e+01, -1.4800e+02,
        1.3100e+02, -5.8800e+01, -3.7950e+01, -1.1455e+02, -4.5900e+01,
       -1.3925e+02, -4.8350e+01,  1.8690e+02, -7.8750e+01,  7.0500e+01,
        3.6100e+01,  8.7150e+01,  3.5700e+01,  1.2235e+02,  7.5500e+01,
       -7.3500e+01,  1.5750e+01, -2.1500e+01,  1.3000e+00,  4.3250e+01,
        1.5970e+02,  5.7250e+01,  3.3350e+01,  1.3150e+01,  5.0700e+01,
       -2.4100e+01,  4.8850e+01,  4.6000e+01, -1.0390e+02,  5.3000e+00,
       -7.3000e+01,  3.1650e+01,  2.3350e+01, -1.0950e+01,  5.5600e+01,
        5.9000e+01, -3.0700e+01, -5.4000e+01,  1.5935e+02, -3.6050e+01,
        6.3000e+01,  5.0450e+01, -9.5100e+01, -7.8500e+00, -5.4000e+01,
        4.9000e+01, -2.4800e+01, -9.6900e+01,  1.6000e+01, -8.0700e+01,
        5.3350e+01,  6.1650e+01,  1.1490e+02, -3.2750e+01,  1.1105e+02,
        5.6650e+01,  3.8050e+01,  1.2100e+01, -9.0500e+00, -4.8200e+01,
       -8.8000e+01,  1.1925e+02,  1.0050e+01, -8.7400e+01])

In [ ]:
np.sum((nifty.values[1:] - nifty.values[:-1]) > 0)/len(nifty) * 100

52.6530612244898

**Tasks**
- Moving averages of last 5 days
- SUbset the data to incude only data for Fridays

In [ ]:
# Moving averages of last 5 days

nifty.index[2]

'03-Jan-2019'

In [ ]:
pd.Timestamp(nifty.index[2]) #By this function we can create all the dates i.e. in strings to proper dates

Timestamp('2019-01-03 00:00:00')

In [ ]:
# SO we can use map funtion to change all the index in nifty to proper date

new_index = map(pd.Timestamp, nifty.index)

In [ ]:
new_index #As this is a map object we need to create another object of nifty dataset

In [ ]:
new_nifty = pd.Series(nifty, index=new_index)

In [ ]:
new_nifty

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
                ...
2019-12-24    12214.55
2019-12-26    12126.55
2019-12-27    12245.80
2019-12-30    12255.85
2019-12-31    12168.45
Name: Close, Length: 245, dtype: float64

In [ ]:
# Now we can compute any nuumber of days moving average

new_nifty.rolling("5d").mean()

2019-01-01    10910.100000
2019-01-02    10851.300000
2019-01-03    10791.616667
2019-01-04    10775.550000
2019-01-07    10723.800000
                  ...
2019-12-24    12249.700000
2019-12-26    12201.283333
2019-12-27    12212.412500
2019-12-30    12209.400000
2019-12-31    12223.366667
Name: Close, Length: 245, dtype: float64

In [ ]:
# Subset the data to lookout only for fridays

dow = new_nifty.copy()
for i in dow.index:
    dow[i] = i.dayofweek

In [ ]:
dow

2019-01-01    1.0
2019-01-02    2.0
2019-01-03    3.0
2019-01-04    4.0
2019-01-07    0.0
             ...
2019-12-24    1.0
2019-12-26    3.0
2019-12-27    4.0
2019-12-30    0.0
2019-12-31    1.0
Name: Close, Length: 245, dtype: float64

In [ ]:
new_nifty[dow == 4]

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
Name: Close, dtype: float64

In [ ]:
(new_nifty[dow == 4].rolling("5d").mean())

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
Name: Close, dtype: float64

In [4]:
data = [3,2,2,1]
s = pd.Series(data)
# b = s.mean()
b = (s > 5).any()
print(b)

False

In [10]:
s = pd.Series("a", index = [1,2,3,4])
print(s.loc[2])

a

In [11]:
data = set([2,1,4,3])
s = pd.Series(data, index = [1,2,3,4])
print(s.loc[2])

TypeError: ignored